/* Header definitions*/
/*--------------------------------------------------------- */
/*#top {*/
/*position: relative;*/
/*width: 100%;*/
/*padding: 0;*/
/*margin: 0 auto 0 auto;*/
/*background: #3A4E6A url(../smoothness/bg_header.png) repeat-x top left;*/
/*}*/

/*#top h1 {*/
/*padding: 16px 0 16px 24px;*/
/*background: transparent url(../design/wine-logo.png) no-repeat 20px 16px;*/
/*height: 75px;*/
/*min-width: 75px;*/
/*margin: 0;*/
/*}*/

/*#top h1 span a {*/
/*position: absolute;*/
/*top: 20px;*/
/*padding: 40px 0 20px 94px;*/
/*font-size: 0.6em;*/
/*}*/

/*#top h1 a {*/
/*color: #f2f2f2;*/
/*text-decoration: none;*/
/*}*/

/*#top_right.top {*/
/*position: relative;*/
/*width: 100%;*/
/*padding: 0;*/
/*margin: 0 auto 0 auto;*/
/*background: #3A4E6A url(/smoothness/bg_header.png) repeat-x top left;*/
/*text-align: right;*/
/*color: #f2f2f2;*/
/*}*/

/*#top_right h1 {*/
/*padding: 16px 0 16px 24px;*/
/*background: transparent url(../design/wine-logo.png) no-repeat 20px 16px;*/
/*height: 75px;*/
/*min-width: 75px;*/
/*margin: 0;*/
/*color: #f2f2f2;*/
/*}*/

/*#top_right h1 span a {*/
/*position: absolute;*/
/*top: 20px;*/
/*padding: 40px 0 20px 94px;*/
/*font-size: 0.6em;*/
/*}*/

/*#top_right a {*/
/*color: #f2f2f2;*/
/*text-decoration: none;*/
/*}*/

/*#bottom {*/
/*clear: both;*/
/*text-align: right;*/
/*padding: 5px;*/
/*margin: 10px 0px 0px 0px;*/
/*}*/

/*#left {*/
/*float: left;*/
/*background-color: #3A4E6A;*/
/*padding: 5px;*/
/*width: 150px;*/
/*}*/

/*#right {*/
/*float: right;*/
/*background-color: #ece3a5;*/
/*padding: 5px;*/
/*width: 150px;*/
/*}*/

/*.center_content {*/
/*position: relative;*/
/*background-color: #dddddd;*/
/*padding: 5px;*/
/*}*/

/*.left_content {*/
/*background-color: #dddddd;*/
/*padding: 5px;*/
/*margin-left: 170px;*/
/*}*/

/*.right_content {*/
/*background-color: #dddddd;*/
/*padding: 5px;*/
/*margin: 0px 170px 0px 170px;*/
/*}*/

/*.default_content {*/
/*background-color: #dddddd;*/
/*padding: 5px;*/
/*margin: 0px 0px 0px 0px;*/
/*}*/

/*#top a:link, #top a:visited {*/
/*color: white;*/
/*font-weight: bold;*/
/*text-decoration: none;*/
/*}*/

/*#top a:link:hover, #top a:visited:hover {*/
/*color: black;*/
/*font-weight: bold;*/
/*text-decoration: underline;*/
/*}*/

/*.ui-dashboard {*/
/*width: 100%*/
/*}*/

/*.ui-dashboard-column {*/
/*width: 50%*/
/*}*/

