<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<body>
<ui:composition template="standardtpl.xhtml">
<ui:define name="content">
    <h:form prependId="false" id="bottlemgmt_form">
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{bottleManagedBean.preRenderView}"/>
        <p:growl id="growl"/>
        <p:tabView>

            <p:tab title="#{messages.bottleaddheader}"
                   id="addBottlePanel">
                <h:panelGrid columns="2" id="addBottlePanelGrid">
                    <f:validateBean>
                        <h:outputLabel value="#{messages.bottlenamelabel}" id="labelnomb"/><p:inputText
                            id="inputnameb" value="#{bottleManagedBean.entity.name}"
                            validatorMessage="#{messages.bottleaddinvalidname}" styleClass="custom-class"/>
                        <h:outputLabel value="#{messages.bottleproducerlabel}" id="labelprodocteurb"/>

                        <p:selectOneMenu value="#{bottleManagedBean.selectProducerId}" panelStyle="width:150px"
                                         effect="fade" style="width: 180px"
                                         id="selectproducerb" filter="true" filterMatchMode="contains">
                            <f:selectItem itemLabel="" itemValue=""/>
                            <f:selectItems value="#{bottleManagedBean.producerItems}"/>
                        </p:selectOneMenu>
                        <h:outputLabel value="#{messages.bottlequantitylabel}" id="quantiteb"/> <p:spinner
                            value="#{bottleManagedBean.entity.quantity}"
                            validatorMessage="#{messages.bottleaddinvalidquantity}" showOn="hover"
                            />
                        <h:outputLabel value="#{messages.bottletodrinklabel}" id="todrinkb"/> <p:calendar
                            value="#{bottleManagedBean.entity.todrink}" style="text-align: right"
                            validatorMessage="#{messages.bottleaddinvalidtodrink}" pages="3"
                            />
                        <h:outputLabel value="#{messages.bottleboughtlabel}" id="dateachatb"/> <p:calendar
                            value="#{bottleManagedBean.entity.acquired}" style="text-align: right"
                            validatorMessage="#{messages.bottleaddinvalidacquired}" pages="3"/>
                        <h:outputLabel value="#{messages.bottlevintagelabel}" id="vintageb"/> <p:spinner
                            value="#{bottleManagedBean.entity.vintage}"
                            showOn="hover" max="#{userManagedBean.maxBottleYear}"
                            min="#{userManagedBean.minBottleYear}"
                            validatorMessage="#{messages.bottleaddinvalidvintage}"/>
                        <h:outputLabel value="#{messages.bottletagslabel}" id="tagsb"/>
                        <p:inputText value="#{bottleManagedBean.entity.tags}" converter="#{tagConverter}">

                        </p:inputText>


                    </f:validateBean>
                    <p:commandButton value="#{messages.submit}"
                                     actionListener="#{bottleManagedBean.saveNew}"
                                     label="#{messages.submit}"
                                     update="@form"
                            />
                    <p:commandButton value="#{messages.cancel}"
                                     action="#{bottleManagedBean.resetNew}"
                                     update="@form"
                                     label="#{messages.cancel}"/>
                </h:panelGrid>
            </p:tab>

            <p:tab title="#{messages.bottlelistheader}" id="bottlesListPanel">
                <h:panelGrid columns="2" id="bottlePanelGrid" cellpadding="5">
                    <h:panelGroup>
                        <p:dataTable var="currentBottle"
                                     value="#{bottleManagedBean.entities}"
                                     emptyMessage="#{messages.standardemptytable}"
                                     selection="#{bottleManagedBean.entityTableSelection}"
                                     selectionMode="single"
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     rows="10"
                                     rowKey="#{currentBottle.id}"
                                     id="bottleDataTable"
                                     widgetVar="bottlesWidgetVar"
                                     editable="true"
                                     filteredValue="#{bottleManagedBean.filteredEntities}"
                                     filterEvent="keyup">
                            <p:ajax event="rowEdit" listener="#{bottleManagedBean.updateCurrent}" update="@this"
                                    async="true"/>

                            <f:facet name="header">
                                <p:outputPanel style="text-align: right">
                                    <h:outputText value="#{messages.searchtextlabel}" style="padding-right: 2px"/>
                                    <p:inputText id="globalfilter" value="#{bottleManagedBean.filter}"
                                                 onkeyup="bottlesWidgetVar.filter()" style="width:150px">
                                    </p:inputText>

                                </p:outputPanel>
                            </f:facet>
                            <p:column sortBy="#{currentBottle.name}"
                                      filterBy="#{currentBottle.name}"
                                      filterStyle="width: 80%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottlenamelabel}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.name}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:inputText value="#{currentBottle.name}" style="width: 80%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column filterStyle="width: 80%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottletagslabel}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.tags}" converter="#{tagConverter}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:inputText value="#{currentBottle.tags}" style="width: 80%"
                                                     converter="#{tagConverter}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column sortBy="#{currentBottle.quantity}"
                                      filterBy="#{currentBottle.quantity}"
                                      filterStyle="width: 80%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottlequantitylabel}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.quantity}"/>
                                    </f:facet>
                                    <f:facet name="input">

                                        <p:spinner value="#{currentBottle.quantity}"/>

                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column sortBy="#{currentBottle.todrink}"
                                      filterBy="#{currentBottle.todrink}"
                                      filterStyle="width: 80%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottletodrinklabel}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.todrink}"><f:convertDateTime
                                                pattern="${messages.dateformat}"/> </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:calendar value="#{currentBottle.todrink}"
                                                    pattern="${messages.dateformat}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column sortBy="#{currentBottle.acquired}"
                                      filterBy="#{currentBottle.acquired}"
                                      filterStyle="width: 80%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottleboughtlabel}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.acquired}"> <f:convertDateTime
                                                pattern="dd/MM/yyyy"/> </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:calendar value="#{currentBottle.acquired}"
                                                    pattern="${messages.dateformat}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column sortBy="#{currentBottle.producer.name}"
                                      filterBy="#{currentBottle.producer.name}"
                                      filterStyle="width: 90%"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottleproducerlabel}">
                                <h:outputText value="#{currentBottle.producer.name}"/>
                            </p:column>
                            <p:column sortBy="#{currentBottle.vintage}"
                                      filterStyle="width: 80%"
                                      filterBy="#{currentBottle.vintage}"
                                      filterMatchMode="contains"
                                      headerText="#{messages.bottlevintagelabel}">

                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{currentBottle.vintage}"> </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{currentBottle.vintage}"/>
                                    </f:facet>

                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Options">
                                <p:rowEditor/>
                                <p:commandLink ajax="false"
                                               actionListener="#{bottleManagedBean.delete(currentBottle)}"
                                               immediate="true"
                                               update="bottlesListPanel" process="@this">
                                    <span title="Remove" class="ui-icon ui-icon-trash"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </h:panelGrid>
            </p:tab>

        </p:tabView>
    </h:form>
</ui:define>
</ui:composition>
</body>
</html>
