<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<body>


<ui:composition template="standardtpl.xhtml">
    <ui:define name="content">
        <h:form id="form">
            <p:focus/>
            <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{producerManagedBean.preRenderView}"/>
            <p:growl id="growl"/>
            <p:dashboard id="board" model="#{dashboardManagedBean.boardModel}" style="width: 100%">
                <p:panel id="calendar" header="Calendrier" toggleable="true" collapsed="false" closable="false">
                    <p:dataList value="#{dashboardManagedBean.nextBottlesToDrink}"
                                var="bottles"
                                paginator="true"
                                rowsPerPageTemplate="5,10,15">
                        <f:facet name="header">
                            #{messages.nexttodrink}
                        </f:facet>
                        <h:outputText
                                value="#{bottles.quantity} #{bottles.denomination} #{bottles.name} #{bottles.vintage}"/>
                    </p:dataList>
                    <p:dataGrid
                            value="#{dashboardManagedBean.lastTasted}"
                            var="tasting"
                            paginator="true"
                            rowsPerPageTemplate="5,10,15"
                            rows="5"
                            >
                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="1"><h:outputText value="#{messages.homelasttasted}"/></p:column>
                            </p:row>
                        </f:facet>
                        <p:panel header="#{tasting.bottle.name}" style="text-align:center">
                            <p:panelGrid columns="1" style="width:100%">
                                <h:outputText value="#{tasting.tastingdate} : #{tasting.bottle.name}"/>
                                <p:rating value="#{tasting.rate}" readonly="true">
                                    <f:convertNumber integerOnly="true"/>
                                </p:rating>
                                <p:commandLink update=":form:tastingDetail" oncomplete="tastingDialog.show()"
                                               title="View Detail">
                                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;"/>
                                    <f:setPropertyActionListener value="#{tasting}"
                                                                 target="#{selection.selectedTasting}"/>
                                </p:commandLink>
                            </p:panelGrid>
                        </p:panel>
                    </p:dataGrid>
                    <p:dataGrid value="#{dashboardManagedBean.bestTastings}"
                                var="tasting"
                                paginator="true"
                                rowsPerPageTemplate="5,10,15"
                                rows="5">
                        <f:facet name="header">
                            <h:panelGrid columns="1" style="text-align:center">
                                <h:outputText value="#{messages.homebesttastings}"/>
                            </h:panelGrid>

                        </f:facet>
                        <p:panel header="#{tasting.bottle.name}" style="text-align:center">
                            <p:panelGrid columns="1" style="width:100%">
                                <h:outputText value="#{tasting.tastingdate} : #{tasting.bottle.name} "/>
                                <p:rating value="#{tasting.rate}" readonly="true"><f:convertNumber
                                        integerOnly="true"/></p:rating>
                                <p:commandLink update=":form:tastingDetail" oncomplete="tastingDialog.show()"
                                               title="View Detail">
                                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;"/>
                                    <f:setPropertyActionListener value="#{tasting}"
                                                                 target="#{selection.selectedTasting}"/>
                                </p:commandLink>
                            </p:panelGrid>
                        </p:panel>

                    </p:dataGrid>

                    <p:dialog header="#{messages.tastingaddheader}" widgetVar="tastingDialog" modal="true"
                              resizable="false">
                        <p:outputPanel id="tastingDetail" style="text-align:center;" layout="block">
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText value="#{messages.tastingbottlelabel} :" id="labelbottlet"
                                        />
                                <h:outputText id="nameBottle"
                                              value="#{selection.selectedTasting.bottle.name}"/>
                                <h:outputText id="labelProducteur" value="#{messages.producernamelabel} :"/>
                                <h:outputText id="producername"
                                              value="#{selection.selectedTasting.bottle.producer.name}"/>
                                <h:outputText id="labeldatetasting" value="#{messages.tastingdatelabel} :  "/>
                                <h:outputText id="valuedatetasting" value="#{selection.selectedTasting.tastingdate}"/>
                                <h:outputText id="datetasting" value="#{messages.tastingdatelabel} :">
                                    <f:convertDateTime pattern="${messages.dateformat}"/>
                                </h:outputText>
                                <p:rating value="#{selection.selectedTasting.rate}"
                                          readonly="true"><f:convertNumber
                                        integerOnly="true"/></p:rating>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:dialog>

                </p:panel>
                <p:panel id="yearchart" header="Années" toggleable="true" collapsed="false" closable="false">
                    <p:pieChart value="#{dashboardManagedBean.bottleCountByYear}" legendPosition="e"
                                showDataLabels="true"/>
                </p:panel>
                <p:panel id="tagchart" header="Tags" toggleable="true" collapsed="false" closable="false">
                    <p:tagCloud model="#{dashboardManagedBean.tagCloudModel}"/>
                    <p:donutChart value="#{dashboardManagedBean.allTagsModel}" legendPosition="e" sliceMargin="5"
                                  showDataLabels="true" dataFormat="value" legendCols="2" legendRows="5"
                            />
                </p:panel>
            </p:dashboard>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
