<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="standardtpl.xhtml">
    <ui:define name="content">
        <h:form prependId="false">
            <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{producerManagedBean.preRenderView}"/>
            <p:growl id="growl"/>
            <p:tabView>
                <p:tab title="#{messages.produceraddheader}" id="addProducerPanel">
                    <h:panelGrid columns="2" id="addProducerPanelGrid">
                        <f:validateBean>
                            <h:outputLabel value="#{messages.producerdomainlabel}" id="labeldomainp"/><p:inputText
                                id="inputdomainp" value="#{producerManagedBean.entity.domain}"
                                validatorMessage="#{messages.produceradddomain}"/>
                            <h:outputLabel value="#{messages.producernamelabel}" id="labelnomp"/><p:inputText
                                id="inputnamep" value="#{producerManagedBean.entity.name}"
                                validatorMessage="#{messages.produceraddname}"/>
                            <h:outputLabel value="#{messages.produceraddresslabel}" id="labeladdressp"/><p:inputText
                                id="inputaddressp" value="#{producerManagedBean.entity.address}"
                                validatorMessage="#{messages.produceraddaddress}"/>
                            <h:outputLabel value="#{messages.producerziplabel}" id="labelzipp"/><p:inputText
                                id="inputzipp" value="#{producerManagedBean.entity.zip}"
                                validatorMessage="#{messages.produceraddzip}"/>
                            <h:outputLabel value="#{messages.producercitylabel}" id="labelcityp"/><p:inputText
                                id="inputcityp" value="#{producerManagedBean.entity.city}"
                                validatorMessage="#{messages.produceraddcity}"/>
                            <h:outputLabel value="#{messages.producercountrylabel}" id="labelcountryp"/><p:inputText
                                id="inputcountryp" value="#{producerManagedBean.entity.country}"
                                validatorMessage="#{messages.produceraddcountry}"/>
                            <h:outputLabel value="#{messages.producerphonelabel}" id="labelphonep"/><p:inputText
                                id="inputphonep" value="#{producerManagedBean.entity.phone}"
                                validatorMessage="#{messages.produceraddphone}"/>
                        </f:validateBean>
                        <p:commandButton value="#{messages.submit}" actionListener="#{producerManagedBean.saveNew}"
                                         update="@form"
                                         label="#{messages.submit}"/>
                        <p:commandButton value="#{messages.cancel}" action="#{producerManagedBean.resetNew}"
                                         update="@form" label="#{messages.cancel}"/>
                    </h:panelGrid>
                </p:tab>

                <p:tab title="#{messages.producerlistheader}" id="producersListPanel">
                    <h:panelGrid columns="2" id="producerPanelGrid">
                        <h:panelGroup>
                            <p:dataTable var="currentProducer"
                                         value="#{producerManagedBean.entities}"
                                         emptyMessage="#{messages.standardemptytable}"
                                         paginator="true"
                                         rows="10"
                                         selection="#{producerManagedBean.entityTableSelection}"
                                         widgetVar="producerTable"
                                         id="producerDataTable"
                                         editable="true">

                                <p:ajax event="rowEdit" update="@this" listener="#{producerManagedBean.updateCurrent}"/>

                                <f:facet name="header">
                                    <p:outputPanel>
                                        <h:outputText value="#{messages.searchtextlabel}"/>
                                        <p:inputText id="globalfilter" onkeyup="producerTable.filter()"/>
                                    </p:outputPanel>

                                </f:facet>
                                <p:column sortBy="#{currentProducer.domain}"
                                          filterBy="#{currentProducer.domain}"
                                          filterMatchMode="contains"
                                          headerText="#{messages.producerdomainlabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.domain}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <h:inputText value="#{currentProducer.domain}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column sortBy="#{currentProducer.name}"
                                          filterBy="#{currentProducer.name}"
                                          filterMatchMode="contains"
                                          headerText="#{messages.producernamelabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.name}"/>
                                        </f:facet>
                                        <f:facet name="input">

                                            <h:inputText value="#{currentProducer.name}"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="#{messages.produceraddresslabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.address}"/>
                                        </f:facet>
                                        <f:facet name="input">


                                            <h:inputText value="#{currentProducer.address}"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="#{messages.producerziplabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.zip}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <h:inputText value="#{currentProducer.zip}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="#{messages.producercitylabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.city}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <h:inputText value="#{currentProducer.city}"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column sortBy="#{currentProducer.country}"
                                          filterBy="#{currentProducer.country}"
                                          filterStyle="width: 80%"
                                          filterMatchMode="contains"
                                          headerText="#{messages.producercountrylabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">

                                            <h:outputText value="#{currentProducer.country}"/>
                                        </f:facet>
                                        <f:facet name="input">

                                            <h:inputText value="#{currentProducer.country}"/>

                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="#{messages.producerphonelabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentProducer.phone}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <h:inputText value="#{currentProducer.phone}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Options">
                                    <p:rowEditor/>
                                    <p:commandLink ajax="false"
                                                   actionListener="#{producerManagedBean.delete(currentProducer)}"
                                                   immediate="true"
                                                   update="producersListPanel" process="@this">
                                        <span title="Remove" class="ui-icon ui-icon-trash"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </h:panelGrid>
                </p:tab>
                <!--<p:tab title="#{messages.producerlistmap}" id="producersMapPanel">-->
                <!--&lt;!&ndash;center="#{producerManagedBean.mapModel.markers[0].latlng.lat}, #{producerManagedBean.mapModel.markers[0].latlng.lng}"&ndash;&gt;-->
                <!--<p:gmap model="#{producerManagedBean.mapModel}"-->

                <!--center="36.890257,30.707417"-->
                <!--zoom="15" type="HYBRID"-->
                <!--style="width:600px;height:400px"/>-->
                <!--<p:commandLink-->
                <!--actionListener="#{producerManagedBean.onAdressUpdate}">#{messages.producerupdatemap}</p:commandLink>-->
                <!--</p:tab>-->
            </p:tabView>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
