<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="#{request.contextPath}/themes/#{initParam['primefaces.THEME']}/skin.css"/>
    <link href="../resources/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        PrimeFaces.locales ['fr'] = {
            closeText: 'Fermer',
            prevText: 'Précédent',
            nextText: 'Suivant',
            currentText: 'Aujourd\'hui',
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
            monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc' ],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            weekHeader: 'Semaine',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: '',
            timeOnlyTitle: 'Choisir l\'heure',
            timeText: 'Heure',
            hourText: 'Heures',
            minuteText: 'Minutes',
            secondText: 'Secondes',
            ampm: false,
            month: 'Mois',
            week: 'Semaine',
            day: 'Jour',
            allDayText: 'Toute la journée'
        };
    </script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <title>Cave a vin</title>
</h:head>

<h:body>
    <ui:debug rendered="true"/>

    <div id="header-top" class="ui-widget ui-widget-header">
        <h:outputText value="#{userManagedBean.user.username} "
                      style="top: auto; text-align: right;margin-right: 5px"/>
        <p:commandLink async="true" actionListener="#{userManagedBean.logout}" value="#{messages.logout}"/>
        <p:notificationBar position="bottom" effect="fade" widgetVar="bar" styleClass="top"
                           rendered="#{userManagedBean.user.token ==null}" autoDisplay="true">
            #{messages.googleauthorizationrequired}
            <br/>
            <p:commandButton onclick="bar.hide()" value="#{messages.hidenotificationbar}" type="button">
            </p:commandButton>
        </p:notificationBar>

    </div>
    <div id="header" class="ui-widget ui-widget-header">
        <ui:insert name="top">
            <h:graphicImage url="../resources/design/wine-logo.png" alt="logo wine"/>
        </ui:insert>
    </div>
    <div>
        <div id="content" class="post">
            <p:menubar>
                <p:submenu label="#{messages.tplhome}">
                    <p:menuitem value="#{messages.tplhome}" url="/faces/protected/home.xhtml"/>
                    <p:menuitem value="#{messages.tplgooglecalauthorization}"
                                url="/faces/protected/retreiveToken.xhtml"/>
                </p:submenu>
                <p:submenu label="#{messages.tplmgmt}">
                    <p:menuitem value="#{messages.tplbottles}" url="/faces/protected/bottlemgmt.xhtml"/>
                    <p:menuitem value="#{messages.tplproducers}" url="/faces/protected/producermgmt.xhtml"/>
                    <p:menuitem value="#{messages.tpltastings}" url="/faces/protected/tastingmgmt.xhtml"/>
                </p:submenu>
            </p:menubar>
            <ui:insert name="content">Content</ui:insert>
        </div>
    </div>

    <div id="footer" class="ui-widget ui-widget-header ui-corner-all">
        <p class="copyright">GPLv3 <a href="http://blog.touret.info">Alexandre Touret</a>.</p>
    </div>
</h:body>
</html>
