<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<body>
<ui:composition template="./standardtpl.xhtml">
    <ui:define name="content">
        <h:form>
            <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{tastingManagedBean.preRenderView}"/>
            <p:growl id="growl"/>
            <p:tabView>
                <p:tab title="#{messages.tastingaddheader}"
                       id="addTastingPanel">
                    <h:panelGrid columns="2">
                        <f:validateBean>
                            <p:outputLabel value="#{messages.tastingbottlelabel}" id="labelbottlet"
                                           for="selectbottlet"/>
                            <h:selectOneMenu value="#{tastingManagedBean.selectBottleId}" id="selectbottlet">
                                <f:converter binding="#{bottleConverter}"/>
                                <f:selectItems value="#{bottleManagedBean.entities}" var="currentTasting"
                                               itemValue="#{currentTasting.id}"
                                               itemLabel="#{currentTasting.name}/#{currentTasting.producer.name}/#{currentTasting.vintage}"/>
                            </h:selectOneMenu>
                            <p:outputLabel value="#{messages.tastingdatelabel}" id="datet"
                                           for="selectcalendarbottle"/><p:calendar
                                value="#{tastingManagedBean.entity.tastingdate}"
                                pattern="${messages.dateformat}"
                                id="selectcalendarbottle"
                                pages="3"/>

                            <h:outputLabel value="#{messages.tastingquantitylabel}" id="quantitet"/>
                            <p:spinner value="#{tastingManagedBean.entity.quantity}" showOn="hover"
                                       validatorMessage="#{messages.tastinginvalidquantity}"/>
                            <h:outputLabel value="#{messages.tastingrank}" id="tastingt"/>
                            <p:rating value="#{tastingManagedBean.entity.rate}" stars="10">
                                <f:convertNumber integerOnly="true"/>
                            </p:rating>
                            <h:outputLabel value="#{messages.tastingobservation}" id="tastingobst"/>
                            <h:inputTextarea value="#{tastingManagedBean.entity.observation}"/>
                        </f:validateBean>

                        <p:commandButton value="#{messages.submit}"
                                         actionListener="#{tastingManagedBean.saveNew}"
                                         label="#{messages.submit}"
                                         update="@form"
                                />
                        <p:commandButton value="#{messages.cancel}"
                                         action="#{tastingManagedBean.resetNew}"
                                         update="@form"
                                         label="#{messages.cancel}"/>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="#{messages.tastinglistheader}" id="tastingListPanel">
                    <h:panelGrid columns="2" id="tastingPanelGrid" cellpadding="5">
                        <h:panelGroup>

                            <p:dataTable var="currentTasting"
                                         value="#{tastingManagedBean.entities}"
                                         emptyMessage="#{messages.standardemptytable}"
                                         selectionMode="single"
                                         selection="#{tastingManagedBean.entityTableSelection}"
                                         paginator="true"
                                         rows="10"
                                         rowKey="#{currentTasting.id}"
                                         id="tastingDataTable"
                                         editable="true"
                                    >
                                <p:ajax event="rowEdit" listener="#{tastingManagedBean.updateCurrent}" update="@this"
                                        async="true"/>

                                <p:column sortBy="#{currentTasting.bottle.name}"
                                          filterBy="#{currentTasting.bottle.name}"
                                          filterStyle="width: 80%"
                                          headerText="#{messages.tastingbottlelabel}">
                                    <h:outputText
                                            value="#{currentTasting.bottle.name}/#{currentTasting.bottle.producer.name}"/>
                                </p:column>
                                <p:column sortBy="#{currentTasting.bottle.vintage}"
                                          filterBy="#{currentTasting.bottle.vintage}"
                                          filterStyle="width: 60%"
                                          headerText="#{messages.bottlevintagelabel}">
                                    <h:outputText value="#{currentTasting.bottle.vintage}"/>
                                </p:column>
                                <p:column sortBy="#{currentTasting.quantity}"
                                          filterBy="#{currentTasting.quantity}"
                                          filterStyle="width: 80%"
                                          headerText="#{messages.bottlequantitylabel}">

                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentTasting.quantity}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:spinner value="#{currentTasting.quantity}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column sortBy="#{currentTasting.tastingdate}"
                                          filterBy="#{currentTasting.tastingdate}"
                                          filterStyle="width: 60%"
                                          headerText="#{messages.tastingdatelabel}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{currentTasting.tastingdate}">
                                                <f:convertDateTime pattern="${messages.dateformat}"/>
                                            </h:outputText>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:calendar
                                                    value="#{currentTasting.tastingdate}"
                                                    pattern="${messages.dateformat}"
                                                    pages="3"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="#{messages.tastingrank}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:rating value="#{currentTasting.rate}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:rating value="#{currentTasting.rate}" stars="10"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="#{messages.tastingobservation}">
                                    <h:outputLink id="txt_custom"
                                                  value="#1">#{messages.tastingobservation}</h:outputLink>
                                    <p:tooltip for="txt_custom" value="#{currentTasting.observation}"/>
                                </p:column>

                                <p:column headerText="Options">
                                    <p:rowEditor/>
                                    <p:commandLink ajax="false"
                                                   actionListener="#{tastingmanagedBean.delete(currentBottle)}"
                                                   update="tastingListPanel" process="@this">
                                        <span title="Remove" class="ui-icon ui-icon-trash"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>

            <p:ajaxStatus style="width:16px;height:16px;">
                <f:facet name="start">
                    <h:graphicImage value="../resources/design/ajaxloading.gif"/>
                </f:facet>
                <f:facet name="complete">
                    <h:outputText value=""/>
                </f:facet>
            </p:ajaxStatus>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
