<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<body>

<ui:composition template="./standardtpl.xhtml">
    <ui:define name="content">
        <h:form>
            <p:messages id="msgs" showDetail="true"/>
            <!--                    <p:tabView dynamic="true" cache="true" id="tabview">
                <p:tab title="Producteur" id="producertab" >
                    <ui:include src="producermgmt.xhtml" />
                </p:tab>
                <p:tab title="Famille" id="familytab" >
                    <ui:include src="familymgmt.xhtml" />
                </p:tab>
                <p:tab title="Bouteilles">
                    <h:panelGrid columns="2">
                        <h:outputText
                            value="Speed and technique are two of Henry's main characteristics, which he allies with efficiency and elegance. He is considered to be one of the most skilful players in the game with the ball at his feet as well as being an extremely intelligent footballer.
            Despite having been moulded into a central striker under Arsene Wenger, Henry can play across the front line, which could well prove to be very useful as he vies for a place in the Barca team with Samuel Eto'o, Ronaldinho and Lionel Messi during the 2007-08 season."></h:outputText>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>-->


        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
