<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >
<h:head>
    <title></title>
    <link href="../resources/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="#{request.contextPath}/themes/#{initParam['primefaces.THEME']}/skin.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/jsapi"></script>
    <script type="text/javascript">
        google.load("identitytoolkit", "1", {packages: ["ac"], language: "fr"});
    </script>
    <script type="text/javascript">
        $(function () {
            window.google.identitytoolkit.setConfig({
                developerKey: "AIzaSyAfgjWnM4KYkdkQ3sCd0PAdgmAiU6ZhFa8",
                companyName: "Alexandre Touret",
                callbackUrl: "#{applicationManagedBean.baseUrl}/logincallback?rp_target\x3dcallback\x26rp_fullPageRedirect\x3dfalse",
                realm: "",
                userStatusUrl: "#{applicationManagedBean.baseUrl}/index.html",
                loginUrl: "#{applicationManagedBean.baseUrl}/faces/login.xhtml",
                signupUrl: "#{applicationManagedBean.baseUrl}/faces/signup.xhtml",
                homeUrl: "#{applicationManagedBean.baseUrl}/index.html",
                logoutUrl: "#{applicationManagedBean.baseUrl}/faces/signout.xhtml",
                idps: ["Gmail", "GoogleApps"],
                tryFederatedFirst: true,
                useCachedUserStatus: false,
                useContextParam: true
            });
            $("#navbar").accountChooser();

        });
    </script>
    <style type="text/css">
        body {
            margin: 15px 0 2px;
            background-color: #fff;
            text-align: center;
        }

        body, td, div, p, a, input {
            font-family: arial, sans-serif;
        }

        input {
            font-size: 83%;
        }

        a {
            color: #00c;
        }

    </style>
</h:head>
<h:body>
    <center>
        <div style="width:780px;">
            <div id="navbar" style="padding: 0 0 5px 0;"></div>
            <div style="clear: both; width: 100%; border-top: 1px solid #E6E6E6;"></div>
            <table cellpadding="2" cellspacing="0" border="0" style="padding-left:50px">
                <tr>
                    <td valign="top" width="1%">
                        <a href="/">
                            <img src="resources/design/wine-logo.png" style="border:0px" alt="logo"/>
                        </a>
                    </td>
                    <td width="98%" style="padding-left: 20px; font-size: 20px; color: #1C94C4;">
                        <span style="color: #0000CC; font-weight: bold;"></span>
                    </td>
                </tr>
            </table>
            <table width="780" cellpadding="0" border="0">
                <tr>
                    <td height="1%" colspan="2" bgcolor="#FFFFFF">
                        <div class="g-unit">
                            <div class="g-c-gc-home">
                                <div style="margin-left: 72px; margin-top: 10px;">
                                    <div style="font-size: 140%; font-weight: bold; padding-top: 19px;">Productivity for developers, performance for users</div>
                                    <div style="padding-top: 12px; line-height: 125%;">
                                        Description de la cave à vin....
                                    </div>
                                </div>
                                <table class="columns" style="clear: left;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div style="margin-left: 72px; margin-bottom: 10px;">
                                                <div style="margin-top: 15px; font-size: 120%; font-weight: bold;">Pour commencer
                                                </div>
                                                <div style="padding-top: 5px; line-height: 125%;">
                                                    Inscription
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="resources/design/best-royalty-free-images-Portugal-wine-cellar-JAIRO-BD.jpg"
                                                 alt="image1"
                                                 style="float: left; margin-left: 90px; border: 0pt none;"/>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            <!-- end g-c-gc-home -->
                        </div>
                        <!-- end g-unit -->
                    </td>
                    <td width="3%">&nbsp;</td>
                    <td width="1%" align="center" valign="top" style="padding-top: 36px;">

                    </td>
                </tr>
                <tr>
                </tr>

                <tr>
                    <td colspan="4" valign="top" align="center">
                        <hr size="1" style="margin-top:5px"/>
                        <p>
                            2013
                            <a href="javascript:void 0;">Terms of Service</a>
                            -
                            <a href="javascript:void 0;">Privacy Policy</a>
                            -
                            <a href="javascript:void 0;">Help Center</a>

                            -
                            <a href="javascript:void 0;">
                                Getting Started Guide</a>
                        </p></td>
                </tr>

            </table>
        </div>
    </center>
</h:body>
</html>
